[submodule "z"]
	path = z
	url = gh:rupa/z
[submodule ".elisp/magit"]
	path = .elisp/magit
	url = gh:magit/magit
[submodule ".elisp/git-commit-mode"]
	path = .elisp/git-commit-mode
	url = gh:rafl/git-commit-mode
[submodule ".elisp/haskell-mode"]
	path = .elisp/haskell-mode
	url = gh:haskell/haskell-mode
[submodule ".elisp/clojure-mode"]
	path = .elisp/clojure-mode
	url = gh:technomancy/clojure-mode
[submodule ".rbenv"]
	path = .rbenv
	url = gh:sstephenson/rbenv
[submodule ".elisp/org-mode"]
	path = .elisp/org-mode
	url = git://orgmode.org/org-mode.git
[submodule ".elisp/eltbus-theme"]
	path = .elisp/eltbus-theme
	url = gh:ScriptDevil/eltbus-theme
[submodule ".elisp/yasnippet"]
	path = .elisp/yasnippet
	url = gh:capitaomorte/yasnippet
[submodule ".elisp/auto-complete"]
	path = .elisp/auto-complete
	url = gh:auto-complete/auto-complete
