[include]
	path = ~/private/.gitconfig
[core]
	whitespace = trailing-space,space-before-tab
[apply]
	whitespace = fix
[user]
	name = Ramkumar Ramachandra
	email = artagnon@gmail.com
[github]
	user = artagnon
[format]
	signoff = true
	coverLetter = auto
[sendemail]
	smtpuser = artagnon@gmail.com
	suppresscc = self
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	chainreplyto = false
[color]
	ui = auto
[push]
	default = current
[pretty]
	lg = %C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr %an)%C(reset)
	hot = %C(red)%(HEAD)%C(reset) %C(green)%(refname:short)%C(reset)%(upstream:trackshort)
[alias]
	l = log
	l1 = log -1 -p
	lp = log -p
	lf = log --follow
	sl = shortlog -ns --no-merges
	sle = shortlog -nse --no-merges
	s = status -sb
	sh = show
	c = clone
	co = checkout
	cob = checkout -b
	ci = commit
	cp = cherry-pick
	fp = !rm -rf outgoing && git format-patch -M -C -o outgoing
	fpo = format-patch --stdout -M -C
	se = send-email
	graph = log --graph --decorate --pretty=oneline --abbrev-commit
	rv = log -p --reverse origin..
	r = reset
	rh = reset --hard
	rhu = reset --hard @{u}
	re = rebase
	ri = rebase --interactive
	rc = rebase --continue
	ra = rebase --abort
	rs = rebase --skip
	ss = stash save
	sp = stash pop
	sd = stash drop
	sc = stash clear
	p = push
	pf = push -f
	f = fetch
	fo = fetch origin
	fa = fetch --all
	pu = pull
	b = blame -M -CC
	bD = branch -D
	bM = branch -M
	br = branch
	bru = branch -u
	fer = for-each-ref
	hot = for-each-ref --pretty=hot --count 10 --sort='-committerdate' refs/heads
	bra = branch -a
	m = merge
	fb = filter-branch
	rp = rev-parse
	rl = rev-list
	rems = remote show -n
	rema = remote add
	remr = remote rm
	remp = remote prune
	remn = remote rename
	remsu = remote set-url
	d = diff
	g = grep
	rfl = log --oneline --relative-date -g
	conf = config
	desc = describe --always --contains --all
	ref = log -1 --date=short --pretty='%h (%s, %ad)'
	h = help
[man]
	viewer = eman
[pull]
	rebase = true
[merge]
	conflictstyle = diff3
	log = 10
	ff = only
	defaultToUpstream = true
[rerere]
	enabled = true
[rebase]
	autosquash = true
	autostash = true
[diff]
	submodule = log
	tool = vimdiff2
[pack]
	usebitmaps = true
[grep]
	lineNumber = true
[log]
	date = relative
	mailmap = true
[blame]
	date = relative
	blankboundary = true
	showroot = true
[advice]
	pushUpdateRejected = false
	statusHints = false
	commitBeforeMerge = false
	resolveConflict = false
	implicitIdentity = false
	detachedHead = false
	amWorkDir = false
[credential]
	helper = cache --timeout 36000
[url "git@github.com:artagnon/"]
	insteadOf = gh:artagnon/
[url "git@github.com:klug/"]
	insteadOf = gh:klug/
[url "git://github.com/"]
	insteadOf = gh:
