[include]
	path = ~/private/.gitconfig
[core]
	whitespace = trailing-space,space-before-tab
[apply]
	whitespace = fix
[user]
	name = Ramkumar Ramachandra
	email = artagnon@gmail.com
[github]
	user = artagnon
[format]
	signoff = true
[sendemail]
	smtpuser = artagnon@gmail.com
	suppresscc = all
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	chainreplyto = false
[help]
	autocorrect = 20
[color]
	ui = auto
[push]
	default = current
[pretty]
	lg = format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr %an)%Creset'
[alias]
	l = log
	lf = log --follow
	sl = shortlog -ns --no-merges
	s = status -sb
	sh = show
	co = checkout
	ci = commit
	cp = cherry-pick
	fp = format-patch --cover-letter -M -C -o outgoing
	fpo = format-patch --stdout -M -C
	se = send-email
	lg = log --pretty=lg --abbrev-commit --date=relative
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	review = log -p --reverse master..
	r = reset
	rh = reset --hard
	re = rebase
	ri = rebase --interactive
	rc = rebase --continue
	ra = rebase --abort
	rs = rebase --skip
	ss = stash save
	sp = stash pop
	sd = stash drop
	sc = stash clear
	p = push
	pf = push -f
	f = fetch
	pu = pull
	b = blame -M -CCC
	bD = branch -D
	bM = branch -M
	br = branch
	bra = branch -a
	test-ri = !GIT_EDITOR='sed -i /^pick/agit-prove' git ri
	m = merge
	mu = merge --ff-only @{u}
	fb = filter-branch
	rp = rev-parse
	rems = remote show -n
	rema = remote add
	remr = remote rm
	remp = remote prune
	remn = rename rename
	su = remote set-url
[pull]
	rebase = true
[imap]
        folder = "[Gmail]/Drafts"
        host = imaps://imap.gmail.com
        user = artagnon@gmail.com
        port = 993
        sslverify = false
[merge]
	conflictstyle = diff3
	log = 10
[rerere]
	enabled = true
[rebase]
	autosquash = true
	autostash = true
[diff]
	submodule = log
[grep]
	lineNumber = true
[advice]
	pushUpdateRejected = false
	statusHints = false
	commitBeforeMerge = false
	resolveConflict = false
	implicitIdentity = false
	detachedHead = false
	amWorkDir = false
[credential]
	helper = cache --timeout 36000
[url "git@github.com:artagnon/"]
	insteadOf = gh:artagnon/
[url "git://github.com/"]
	insteadOf = gh:
