[submodule ".elisp/magit"]
	path = .elisp/magit
	url = gh:magit/magit
	branch = master
	update = rebase
[submodule ".elisp/haskell-mode"]
	path = .elisp/haskell-mode
	url = gh:haskell/haskell-mode
	branch = master
	update = rebase
[submodule ".elisp/clojure-mode"]
	path = .elisp/clojure-mode
	url = gh:technomancy/clojure-mode
	branch = master
	update = rebase
[submodule ".rbenv"]
	path = .rbenv
	url = gh:sstephenson/rbenv
	branch = master
	update = rebase
[submodule ".elisp/org-mode"]
	path = .elisp/org-mode
	url = git://orgmode.org/org-mode.git
	branch = master
	update = rebase
[submodule ".elisp/auto-complete"]
	path = .elisp/auto-complete
	url = gh:auto-complete/auto-complete
	branch = master
	update = rebase
[submodule ".elisp/ace-jump-mode"]
	path = .elisp/ace-jump-mode
	url = gh:winterTTr/ace-jump-mode
	branch = master
	update = rebase
[submodule ".elisp/smex"]
	path = .elisp/smex
	url = gh:nonsequitur/smex
	branch = master
	update = rebase
[submodule ".elisp/scala-mode2"]
	path = .elisp/scala-mode2
	url = gh:hvesalai/scala-mode2
	branch = master
	update = rebase
[submodule ".elisp/git-modes"]
	path = .elisp/git-modes
	url = gh:lunaryorn/git-modes
	branch = master
	update = rebase
[submodule ".elisp/zenburn-emacs"]
	path = .elisp/zenburn-emacs
	url = gh:bbatsov/zenburn-emacs
	branch = master
	update = rebase
