*~
*#
*DS_Store
*.o
*.hi
*.elc
*.errors
*.1
.private
.xmonad/xmonad-i386-linux
.xmonad/xmonad-x86_64-linux
.xmonad/history
.ncmpcpp/error.log
.zsh/cache/
.zsh/rramacha/cache/

# cloned separately
.zprezto
.rbenv
