[core]
	whitespace = trailing-space,space-before-tab
[apply]
	whitespace = fix
[user]
	name = Ramkumar Ramachandra
	email = artagnon@gmail.com
[github]
	user = artagnon
[format]
	signoff = true
[sendemail]
	smtpuser = artagnon@gmail.com
	suppresscc = all
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	chainreplyto = false
[help]
	autocorrect = 20
[color]
	ui = auto
[push]
	default = matching
[alias]
	lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr %an)%Creset' --abbrev-commit --date=relative
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	ci = commit
	co = checkout
	stat = status
	fp = format-patch --cover-letter -M -C -o outgoing
	fpo = format-patch --stdout -M -C
	am = am -c
	se = send-email
[imap]
        folder = "[Gmail]/Drafts"
        host = imaps://imap.gmail.com
        user = artagnon@gmail.com
        port = 993
        sslverify = false
[merge]
	conflictstyle = diff3
	log = 10
[rerere]
	enabled = true
[rebase]
	autosquash = true
