[submodule ".elisp/magit"]
	path = .elisp/magit
	url = gh:magit/magit
	branch = master
	update = rebase
	ignore = all
[submodule ".elisp/haskell-mode"]
	path = .elisp/haskell-mode
	url = gh:haskell/haskell-mode
	branch = master
	update = rebase
	ignore = all
[submodule ".elisp/clojure-mode"]
	path = .elisp/clojure-mode
	url = gh:technomancy/clojure-mode
	branch = master
	update = rebase
	ignore = all
[submodule ".rbenv"]
	path = .rbenv
	url = gh:sstephenson/rbenv
	branch = master
	update = rebase
	ignore = all
[submodule ".elisp/auto-complete"]
	path = .elisp/auto-complete
	url = gh:auto-complete/auto-complete
	branch = master
	update = rebase
	ignore = all
[submodule ".elisp/ace-jump-mode"]
	path = .elisp/ace-jump-mode
	url = gh:winterTTr/ace-jump-mode
	branch = master
	update = rebase
	ignore = all
[submodule ".elisp/smex"]
	path = .elisp/smex
	url = gh:nonsequitur/smex
	branch = master
	update = rebase
	ignore = all
[submodule ".elisp/scala-mode2"]
	path = .elisp/scala-mode2
	url = gh:hvesalai/scala-mode2
	branch = master
	update = rebase
	ignore = all
[submodule ".elisp/git-modes"]
	path = .elisp/git-modes
	url = gh:lunaryorn/git-modes
	branch = master
	update = rebase
	ignore = all
[submodule ".elisp/zenburn-emacs"]
	path = .elisp/zenburn-emacs
	url = gh:bbatsov/zenburn-emacs
	branch = master
	update = rebase
	ignore = all
[submodule ".elisp/projectile"]
	path = .elisp/projectile
	url = gh:bbatsov/projectile
	update = rebase
	ignore = all
[submodule ".elisp/dash"]
	path = .elisp/dash
	url = gh:magnars/dash.el
	update = rebase
	ignore = all
[submodule ".elisp/s"]
	path = .elisp/s
	url = gh:magnars/s.el
	update = rebase
	ignore = all
[submodule ".elisp/lua-mode"]
	path = .elisp/lua-mode
	url = gh:immerrr/lua-mode
	update = rebase
	ignore = all
[submodule ".elisp/paredit"]
	path = .elisp/paredit
	url = http://mumble.net/~campbell/git/paredit.git
	update = rebase
	ignore = all
[submodule ".elisp/slim-mode"]
	path = .elisp/slim-mode
	url = gh:slim-template/emacs-slim
	update = rebase
	ignore = all
[submodule ".elisp/pkg-info"]
	path = .elisp/pkg-info
	url = gh:lunaryorn/pkg-info.el
	update = rebase
	ignore = all
[submodule ".elisp/epl"]
	path = .elisp/epl
	url = gh:cask/epl
	update = rebase
	ignore = all
[submodule ".elisp/yaml-mode"]
	path = .elisp/yaml-mode
	url = gh:yoshiki/yaml-mode
	update = rebase
	ignore = all
[submodule ".elisp/php-mode"]
	path = .elisp/php-mode
	url = gh:ejmr/php-mode
	update = rebase
	ignore = all
[submodule ".elisp/feature-mode"]
	path = .elisp/feature-mode
	url = gh:michaelklishin/cucumber.el
	update = rebase
	ignore = all
[submodule ".elisp/yasnippet"]
	path = .elisp/yasnippet
	url = gh:capitaomorte/yasnippet
	update = rebase
	ignore = all
[submodule ".elisp/autopair"]
	path = .elisp/autopair
	url = gh:capitaomorte/autopair
	update = rebase
	ignore = all
[submodule ".elisp/helm"]
	path = .elisp/helm
	url = gh:emacs-helm/helm
