"*":
  "exception-reporting":
    userId: "eff40292-48c0-c335-72c9-7e123750c70f"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "batman-syntax"
    ]
    packagesWithKeymapsDisabled: [
      "emacs-flow"
    ]
    audioBeep: false
  editor:
    invisibles: {}
    tabLength: 4
    tabType: "soft"
  minimap:
    plugins:
      "find-and-replace": true
      selection: true
  "advanced-open-file":
    helmDirSwitch: true
  "you-complete-me":
    pythonExecutable: "/usr/local/bin/python2.7"
    globalExtraConfig: "~/.ycm_extra_conf.py"
  "node-debugger":
    nodePath: "/usr/local/bin/node"
  "atom-format": {}
  "atom-beautify": {}
