'.platform-darwin atom-workspace':
  'cmd-t': 'advanced-open-file:toggle'
'atom-text-editor':
  'alt-.': 'you-complete-me:go-to'
'atom-workspace':
  'ctrl-alt-g': 'fuzzy-grep:toggleLastSearch'
'.platform-darwin atom-workspace':
  'cmd-t': 'advanced-open-file:toggle'
'body':
  'ctrl-enter': 'window:focus-next-pane'
'.platform-darwin':
  'alt-g g': 'unset!'
'atom-workspace':
  'alt-g g': 'unset!'
  'alt-g h': 'unset!'
  'alt-g l': 'unset!'
  'alt-g o': 'unset!'
  'alt-g r': 'unset!'
  'alt-g b': 'unset!'
  'alt-g c': 'unset!'
'atom-text-editor':
  'alt-g d': 'unset!'
  'alt-g down': 'unset!'
  'alt-g up': 'unset!'
'.platform-darwin':
  'alt-g': 'go-to-line:toggle'
'.platform-darwin .advanced-open-file atom-text-editor':
  'enter': 'advanced-open-file:confirm-selected-or-only'
